{{ template "partials/meta-head.html" . }}
<body class='two-col'>
<div id='container'>
	{{ template "partials/header.html" . }}
	{{ template "partials/menu.html" . }}

	<div id='content'>
		{{ range $element := .Data.Pages.ByDate.Reverse }}				<li>
			<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
			<p>Published on: {{ .Date.Format "Mon, Jan 2, 2006" }}
			<nobr>Tags: {{ range $tag := .Params.tags }} 
				 <a href="/tags/{{ $tag | urlize }}">{{ $tag }}</a>
				{{ end }}
			</nobr>
			</p>
			{{ .Summary }}
			<p>
			<a href='{{ .Permalink }}'><nobr>Continue reading &rsaquo;</nobr></a>
			</p>
		</li>
		{{ end }}
	</div>
	{{ template "partials/blog-sidebar.html" . }}
	{{ template "partials/footer.html" . }}
</div>
</body>

