{{ template "partials/meta-head.html" . }}
<body class='two-col'>
<div id='container'>
	{{ template "partials/header.html" . }}
	{{ template "partials/menu.html" . }}

	<div id='content'>
		<h2 id="kulawe-limited">Kulawe Limited</h2>

		<p>Kulawe Limited is a consultancy and training company. We specialise in the Scrum project management framework and the ‘git’ version control tool.</p>

		<p>We use the Scrum project management framework to help software development teams deliver better software faster. We work with organisations to help them introduce Scrum or improve their use of Scrum.</p>

		<p><a href="http://git-scm.com">git</a> is a modern version control solution. We offer git training courses to developers and managers. We help software development teams transition from their existing version control solutions to git. We also help them integrate git into their existing systems to provide an application lifecycle management solution.</p>

		<h3 id="new-product-development---traffic-management-solutions">New Product Development - Traffic Management Solutions</h3>

		<p>In response to a request for one of our business partners we have recently
		started the development of a traffic management solution. This can be used for
		private speed enforcement at large industrial or business premisses. More details
		of the solution are available on the <a href="/Traffic-Management-Solutions/">Traffic Management Solutions</a> page.</p>

	</div>
	{{ template "partials/sidebar.html" . }}

	{{ template "partials/footer.html" . }}
    </div>
    </body>

