{{ template "partials/meta-head.html" . }}
<body class='two-col'>
<div id='container'>
	{{ template "partials/header.html" . }}
	{{ template "partials/menu.html" . }}

	<div id='content'>
		<h2 id="kulawe-limited">Kulawe Limited</h2>

		<p>Kulawe Limited is a consultancy and training company. We specialise in the Scrum project management framework and the ‘git’ version control tool.</p>

		<p>We use the Scrum project management framework to help software development teams deliver better software faster. We work with organisations to help them introduce Scrum or improve their use of Scrum.</p>

		<p><a href="http://git-scm.com">git</a> is a modern version control solution. We offer git training courses to developers and managers. We help software development teams transition from their existing version control solutions to git. We also help them integrate git into their existing systems to provide an application lifecycle management solution.</p>

	</div>
	{{ template "partials/sidebar.html" . }}

	{{ template "partials/footer.html" . }}
    </div>
    </body>

